<header class="header" role="banner">
    <div class="header-content">
        <div class="logo">
            <a href="/">
                <img src="/images/dia-logo-komplett.png"
                     alt="Digital im Alter Bremen-Nord">
            </a>
        </div>

        <div class="contact-info">
            <div>📞 0178 1603960</div>
            <div>✉ hallo@dia-bremen.de</div>
        </div>
    </div>
</header>

<nav class="nav" role="navigation" aria-label="Hauptnavigation">
    <div class="nav-content">

      <button class="burger-menu" aria-label="Menü öffnen" aria-expanded="false">
        <span></span><span></span><span></span>
      </button>

      <ul>
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}"{{ if eq $.RelPermalink .URL }} aria-current="page"{{ end }}>{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>

    </div>
</nav>
